<app-header [title]="title"></app-header>

<mat-card>
  <mat-card-content>Simple card</mat-card-content>
</mat-card>

<button mat-raised-button color="primary">Primary</button>

<form *ngIf="formGroup" [formGroup]="formGroup">
  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput formControlName="name" name="name" placeholder="Name">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Surname</mat-label>
    <input matInput formControlName="surname" name="surname" placeholder="Surname">
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="onFormSubmit($event)">Submit</button>
</form>

<app-footer></app-footer>